<ul class="list-group">
<% @posts.each do |post| %>
 <li class="list-group-item">
   <h4>
    <span><%= post.user.try(:email).presence || post.user.try(:username)  %></span> <%= post.content %>
   </h4>
   <div  class="row">
     <% (post.pictures  || []).each do |p|%>
        <div class="col-sm-6 col-md-3">
            <a href="#" class="thumbnail" ><img src="<%= "/resources/user_avatars/#{p}" %>" alt=""></a>
        </div>
     <% end %>
   </div>
   <p>创建时间: <%= post.created_at.strftime('%Y-%m-%d %H:%M:%S') %></p>
 </li>
<% end %>
</ul>